*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header */

.header
{
    width: 100%;
    height: 50px;
    background-color: #e2e0e0;   
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    padding-left:5% ;
    padding-right: 5%;
    justify-content: space-between;
}

.logo
{
    width: 15%;
    height: 100%;
    background-color: #e2e0e0; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;  
}

.nav
{
    width: 30%;
    height: 100%;
    background-color:#e2e0e0;
    font-size: small;
}

.nav-links
{
    width: 100%;
    height: 100%;
    background-color: #e2e0e0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;    
}

/* banner */

.banner
{
    width: 100%;
    height: 700px;
    background-color:  #e2e0e0;
    padding: 30px 5%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.details
{
    width: 60%;
    padding: 20px;
    background-color: #e2e0e0;
    font-family: 'Courier New', Courier, monospace;
}

.t1
{
   font-size: 60px;
}

.t2
{
    font-size: 70px;
    font-weight: 700;
    color: rgba(114, 51, 214, 0.821);
}

.t3
{   
    font-size: 20px;
}

.cta
{
    padding: 10px 40px;
    margin-top: 10px;
    color: white;
    background-color: rgba(114, 51, 214, 0.821);
    border: 2px solid rgba(114, 51, 214, 0.821)e;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.cta:hover
{
    background-color: transparent;
    color: white;
}

.person
{
    width: 30%;
    height: 500px;
    background-color:black;
} 

/* services */

.services
{
    width: 100%;
    padding: 30px 5%;
    background-color: white;   
}

.section-title
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 200;
}

.section-child
{
    width: 100%;
    padding: 30px 0px;
    margin-top: 30px;
    display: flex;
    column-gap: 4%;
}


.service
{
    width: 22%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    row-gap: 10px;
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
}

.know
{
    padding: 10px 40px;
    margin-top: 10px;
    color: white;
    background-color: rgba(114, 51, 214, 0.821);
    border: 2px solid rgba(114, 51, 214, 0.821);
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.know:hover
{
    background-color: transparent;
    color: black;
}

.service-text
{
    font-size: 15px;
}

/* acheivments */


.acheivements
{
    width: 100%;
    padding: 30px 5%;
    background-color: #d6d3d3;   
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}


.acheivement
{
   width: 18%; 
   padding: 20px ;
   background-color: #d6d3d3;
}

.acheivement-child
{
    row-gap: 2.5%;
}

.number
{
    font-size: 45px;
    font-weight: bold;
}

.tag
{
    font-size: 18px;
    
}

/* quote */

.quote
{
    width: 100%;
    height: 400px;
    /* padding: 0px 10%; */
    background-size: cover;
    background-color: red;
    background-image: url(https://wallpapercave.com/wp/wp6351122.jpg);
}

.overlay
{
    width: 100%;
    height: 100%;
    padding: 30px 10%;
    background-color:rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}
.quote-area
{
    width: 100%;
    padding: 30px 10%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.inp-email
{
    width: 80%;
    height: 40px;
    border: 1px solid white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    text-indent: 20px;
    background-color: transparent;
}

::placeholder
{
    color: white;
}

/* clients */

.clients
{
    width: 100%;
    padding: 30px 5%;
    /* background-color:  #d6d3d3; */
    margin-top: 25px;
}

.client-section-child
{
    /* background-color: white; */
    margin-top: 20px;
    /* font-size: 60px;  */
    display: flex;
    justify-content: space-between;
}

.client-img
{
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
}

.client-img:hover
{
    filter: grayscale(0);
    transform: scale(1.2);
}


/* footer */

.footer
{
    width: 100%;
    padding: 30px 5%;
    background-color: #4a4a4a;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}



.footer-child
{
    width: 22%;
    padding: 20px 50px;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-list
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.map
{
    width: 46%;
    padding: 0;

}